parameters:
	level: 7
	paths:
		- src/
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	bootstrapFiles:
		- tests/bootstrap.php
		- %rootDir%/../../../config/bootstrap.php
	ignoreErrors:
		- '#Property Translate\\Translator\\Translator::\$_cache \(.+TranslateApiTranslationsTable\) does not accept Cake\\ORM\\Table.#'
		- '#Access to an undefined property .+BehaviorRegistry::\$Search.#'
