parameters:
	level: 7
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
		- %rootDir%/../../../config/bootstrap.php
	ignoreErrors:
		- identifier: missingType.generics
		- identifier: missingType.iterableValue
